* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}

.hidden {
    visibility: hidden;
}

header {
    padding: 20px;
}

.logo {
    height: 150px;
    width: auto;
}

.title {
    font-family: sans-serif;
}

fieldset {
    margin: 20px;
    padding: 5px 0;
    border: none;
}

fieldset > input, select {
    margin: 5px 0;
}

.dados-entrega > label {
    display: block;
    font-size: 10px;
}

.metodo-pagamento {
    display: block;
    margin: auto;
}


textarea, select, input[type=text], input[type=email]{
    width: 200px;
    border-radius: 4px;
    border: none;
    background-color: rgb(238, 238, 238);
    padding: 5px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

button + button {
    margin: 0 15px;
}

footer {
    margin: 30px 0 10px;
    font-size: small;
}

